*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{
height: 1000vh;
width: 100%;
/*border: 1px solid red;*/
}

.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba( 0,0,0,0.5);
    z-index: 1000;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
   
}

.logo{
    background-image: url(food_logo.jpeg);
    height: 60px;
    width: 110px;
   background-size: cover;
   cursor: pointer;
  margin-bottom:22px;
}

.lists ul {
    list-style: none;;
}

.lists ul li{
    display: inline-block;
    margin: 0 15px;
}
.lists ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

.lists ul li a::after{
    content: '';
    width: 0;
    background: #fac031;
    height: 2px;
    display: block;
    transition: 0.2s linear;
}

.lists ul li a:hover::after{
    width: 100%;
}

.lists ul li a:hover{
    color: #fac031;
}

.icons i{
color: black;
font-size: 18px;
margin: px;
cursor: pointer;
transition: 0.3s;
}
.icons i:hover{
    color: #fac031;
}

.main{
     height: 400px;
/*border: 2px solid blue;*/
display: flex;
align-items: center;
justify-content: space-around;
position: relative;
margin-top: 130px;
}

.maintext{
    font-size: 30px;
    color: black;
    position: relative;
    top: -90px;
    left: 20px;
}

.food{
    background-image:url(burger.jpeg);
    background-size: cover;
    width: 800px;
    height: 600px;
    margin-top: 110px;
    margin-left: 90px;
    position: relative;

}
.maintext h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}
.lorem p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 85px;
    bottom: 120px;
    line-height: 22px;
}
.button{
    color: white;
    background-color:#fac031;
    width: 150px;
    left: 85px;
    position: relative;
    cursor: pointer;
    padding: 15px 25px;
}
.button a{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.button i{
    transition: 0.3s;
}

.button:hover i{
    transform: translateX(7px);
}

.information{
    width: 100%;
    height: 100vh;
    /*border: 2px solid green;*/
    padding: 70px 0;  
   
}

img{
    position: relative;
    width: 800px;
    top: 60px;
   /*border: 2px solid black;*/
}


.about-text{
    display: flex;
     justify-content: space-around;
     align-items: center;
         /*border: 4px solid yellow;*/
}

.about h1 span{
    color: #fac031;
    font-family: mv boli;
    margin-right: 15px;
   
}  

.about h1{
   font-size: 55px;
   position: relative;
   bottom: 40px; 
}

.about h3{
    margin-bottom: 50px;
    font-size: 30px;
}

.about p{
    width:550px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
}

.information .button{
  color: white;
  background-color: #fac031;
  padding: 12px 25px;
  text-decoration: none;
  position: relative;
left: 60%;
  bottom: 30px;

}

.button a{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.menu{
    width: 100%;
    padding: 70px 0;
    /*border: 3px solid;*/
}

.menu h1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 55px;
    margin-bottom: 30px;
}

.menu h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.menu h1 span::after{
content: '';
width: 100%;
height: 2px;
background-color: #fac031;
position: relative;
display: block;
bottom: 15px;
}

.menu .menubox{
/*border: 3px solid green;*/
width: 95%;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 15px;
}
.menu .menucard{
    /*border: 3px solid yellow;*/
    height: 580px;
    width: 325px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba( 0,0,0,0.2);
}
.menu .menuimage {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    
}

.menu .menuimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menuimage:hover img{
transform: scale(1.1);
}

.menu .menucard .smallcard{
/*border: 2px solid brown;*/
width: 45px;
height: 45px;
float: right;
position: relative;
top: -240px;
right: 20px;
opacity: 1;
}
.menu .menucard .smallcard i{
    font-size: 25px;
    color: black;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    display: flex;
    cursor: pointer;
    text-shadow: 0 0 6px black;
    transition: 0.2s;
}

.menu .menucard .smallcard i:hover{
    color: #fac031;
}

.menu .menucard .menuinfo h2{
    width: 60%;
    text-align: center; 
    margin: 10px auto 10px auto;
    font-size: 25px;
color: #fac031;
}

.menu .menucard .menuinfo p{
    text-align: center;
    line-height: 21px;
    margin-top: 8px;
}

.menu .menucard .menuinfo h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menucard .menuinfo .menuicon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menucard .menuinfo .menubutton{
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 8px 10px;
    margin: 0 80px;
    display: flex;
    text-decoration: none;
    transition: 0.3s;
}

.gallery{
    width: 100%;
   /*border: 3px solid tomato;*/
    padding:70px 0;
    
}

.gallery h1{
    font-size: 55px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.gallery h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}

.gallery h1 span::after{
    content: '';
    width: 100%;
    background-color: #fac031;
    position: relative;
    display: block;
    height: 2px;
 bottom: 15px;
}

.gallery .galleryimagebox{
    width: 95%;
    /*border: 3px solid skyblue;*/
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.gallery .galleryimagebox .galleryimage{
 align-items: center;
 width: 100%;
 height: 350px;
 overflow: hidden;
 position: relative;
 justify-content: center;
 display: flex;  
 /*background-color: black;*/
 border-radius: 10px;
 box-sizing: border-box;
 padding: 10px;
}

 .gallery .galleryimagebox .galleryimage img{
   width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
   transition: 0.3s;
 
}

.gallery .galleryimagebox .galleryimage:hover img{
    opacity: 0.4;
}
.gallery .galleryimagebox .galleryimage h3{
    position: absolute;
    font-size: 35px;
 margin-bottom: 130px;
 color: #fac031;
 font-family: polo;
 z-index: 5;
 opacity: 0;
 transition: 0.3s;
}

.gallery .galleryimagebox .galleryimage:hover h3{
    opacity: 1;
}

.gallery .galleryimagebox .galleryimage p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallery .galleryimagebox .galleryimage:hover p{
    opacity: 1;
}

.gallerybutton{
    position: absolute;
    margin-top: 90px;
    color: #000;
    background-color: #fac031;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
    width: 130px;
    cursor: pointer;
}

.galleryimage:hover .gallerybutton{
    opacity: 1;
    transform: translateY(0);
}

.review h1{
 font-size: 55px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.review span{
    color: #fac031;
    font-family: mv boli;
    margin-left: 15px;
}

.review span::after{
    content: '';
    width: 100%;
    background-color: #fac031;
    height: 2px;
    position: relative;
    bottom: 15px;
    display: block;
}

.reviewbox{
    width: 95%;
    margin: 70px  auto;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.reviewcard{
   /*border: 2px solid rgb(232, 14, 123);*/
    height: 595px;
    width: 350px;
    box-shadow: 0 2px 8px rgba( 0,0,0,0.5);
    border-radius: 0 8px;
    padding: 8px 23px;
    margin: 0 8px;
}

.reviewimg{
   /*border: 2px rgb(19, 104, 202);*/
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #cccccc;
   display: flex;
transition: 0.3s;
overflow: hidden;
  margin-left: 40px;

}

.reviewcard:hover .reviewimg{
    transform: translateY(-60px);
}
.reviewimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
   text-align: center;
   margin-top:-60px;

}

.chefname{
    text-align: center;
}

.chefname .name{
color: black;
transition: 0.3s;
}

.reviewcard:hover .chefname .name{
    transform: translateY(-50px);
}

.reviewicon{
    color: #fac031;
    transition: 0.3s;
}

.reviewcard:hover .reviewicon{
    transform: translateY(-30px);
}

.reviewsocial i{
margin: 5px 1px;
font-size: 15px;
opacity: 0;
cursor: pointer;
transform: 0.3s;
}

.reviewcard:hover .reviewsocial i{
    transform: translateY(-8px);
    opacity: 1;
}

.reviewcard p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}

.reviewcard:hover .reviewcard p{
    margin-top: 5px;
}

.order{
    width: 100%;
    height: 100vh;
    /*border: 2px solid pink;*/
    background-image:url(whitebck.png);
    padding: 70px 0;
    background-size: cover;
    background-position: center;
}

.order h1{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
}

.order h1 span{
    color: #fac031;
    font-family: mv boli;
    margin-right: 15px;
}

.order h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fac031;
    position: relative;
    bottom: 15px;
    display: block;
}

.ordermain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orderimage img{
    width: 600px;
}
.ordermain form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0 10px;
}
.ordermain p{
    line-height: 25px;
}

.ordermain form .input{
    margin: 5px;
}

.ordermain form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    background-color: white;
    border: 2px solid #cccccc;
    outline: none;
    border-radius: 3px;
}

.ordermain form .input input:focus{
    border: 2px solid #fac031;
}

.ordermain form .order_btn{
padding: 10px 0;
background-color: #fac031;
color: white;
width: 40%;
text-align: center;
margin-top: 20px;
text-decoration: none;
margin-left: 6px;
}

.team{
    width: 100%;
    height: 90vh;
    background-image: url(bckkk.png);
    background-size: cover;
    background-position: center;
    /*border: 2px solid green;*/
    margin-top: 150px;
}


.team h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 55px;
margin-bottom: 30px;
}

.team h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.team h1 span::after{
    content: '';
    width: 100%;
    display: block;
    background-color: #fac031;
    height: 2px;
    bottom:15px;
    position: relative;
}

.team .teambox{
    text-align: center;
    justify-content: center;
    width: 95%;
    display: flex;
    position: relative;
    margin: 0 auto;
    top: 13%;
   /* border: 2px salmon;*/
}

.profile{
   /*border: 2px rgb(248, 16, 132);*/
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba( 0,0,0,0.5);
    transition: 0.4s;
}

.profile:hover{
    border-radius: 20px;
    height: 320px;
}

.profile img{
    width: 250px;
   height: 250px;
   object-fit: cover;
   object-position: center;
   border-radius: 50%;
   cursor: pointer;
   box-shadow: 0 0 8px rgba( 0,0,0,0.5);
   z-index: 2;
   transition: 0.4s;
   margin-top: -120px;
}
.profile:hover img{
    border-radius:20px;
    margin-top: -230px;
}

.info{
    text-align: center;
    position: absolute;
    top: 25%;
    transition: 0.4s;
}

.profile:hover .info{
top: 60%;
}

.team .info .name{
    color: #fac031;
    margin-bottom: 15px;
}
.bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.teamicon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.teamicon i:hover{
    color: #fac031;
}

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background-color: #cccccc;
}

.footermain{
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footertag{
    text-align: center;
}

.footertag h2{
    color: black;
    margin-bottom: 25px;
    font-size: 30px;
}

.footertag p{
    margin: 10px 0;
}
.footertag i{
    cursor: pointer;
    margin: 0 5px;
}

.footertag i:hover{
    color: #fac031;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #fac031;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: mv boli;
}

::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: insert 0 0 5px rgba( 0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background-color: #fac031;
    border-radius: 15px;
}

