*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
   width: 100%;
   height: 100vh;
  background-image:url(images/backgroundimage.jpeg);
    background-size: cover;
background-position: center;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.loginform{
    height:550px;
    width: 490px;
    background-image:url(images/loginformimg.jpeg);
    background-position: center;
    background-size: cover;
    transform: translateY(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
}
.loginform h1{
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 45px;
    display: flex;
}

.loginform h1::after{
    content: '';
    width: 20%;
    background-color: #facc22;
height: 3px;
display: block;
position: absolute;
margin-top: 60px;
box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}

.inputbox{
    width: 330px;
    margin: 0 auto;
}

.inputbox .field{
    width: 100%;
    border-bottom: 1px solid #919191;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    outline: none;
    background: none;
    font-size: 15px;
}

.checkbox{
    margin: 25px 0;
    accent-color: #facc22;
    cursor: pointer;
}

.inputbox p{
    position: relative;
    left:20px;
    bottom: 20px;
    width: 50%;
    color: #434343;
}

.submit_btn{
    outline: none;
    border: none;
    background-color: #facc22;
    padding: 10px 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: 18px;
}

.formicon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.formicon i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    color: #434343;
    background-color: #facc22;
    box-shadow: 0  0 10 rgba(0,0,0,0.3);
}
.formicon i:hover{
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: translateY(-5px);
}

.tag{
    margin: 25px  auto 0 auto;
    width: 150px;
}

.tag span{
    font-size: 15px;
}

.tag a{
    text-decoration: none;
    font-size: 15px;
    margin-left: 5px;
    color: #facc22;
}