*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    border: 2px solid red;
    width: 100%;
    min-height: 100vh;
    

}

.navbar{
    height: 80px;
    width: 100%;
    border: 2px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    right: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar img{
    background-size: cover;
    background-position: center;
    width: 120px;
    position: relative;
    cursor: pointer;
    left: -45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 0 10px;
}

ul a{
    text-decoration: none;
    color:#000;
    transition: 0.3s;
}

a:hover{
    color: #fac001;
}

.login a{
    border-radius: 20px;
    border: 2px solid #fac001;
color: #000;
text-decoration: none;
padding: 7px 20px;
transform: 0.3s;
}

.login a:hover{
    color: white;
    background-color: #fac001;
}