*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  border: 1px solid red;
  background-image: url(backgroundimage.jpeg);
  background-size: cover;
  background-position: center;
   justify-content: center;
  align-items: center;
display: flex;
position: relative;
}


.registerform{
  width: 500px;
  height: 590px;
  background-image:url(images/loginformimg.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
   box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
      transform: translateY(-50%,-50%); 
}

h1{
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  display: flex;
}

h1::after{
  content: '';
  width: 20%;
  background-color: #facc01;
  display: block;
  height: 3px;
  position: absolute;
  margin-top: 60px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}

.inputbox{
  width: 360px;
margin: 0 auto;
}

.field{
  width: 100%;
border-top: 0;
border-right: 0;
border-left: 0;
border-bottom: 1px solid #919191;
background: none;
outline: none;
font-size: 15px;
margin-bottom: 20px;
padding: 10px 0;
}

.check_box{
  accent-color: #facc01;
cursor: pointer;
margin: 25px 0;
}

p{
 position: relative;
 left: 20px;
 bottom: 40px;
 width: 50%;
 color: #434343;
}

.order_btn{
  cursor: pointer;
  background-color: #facc01;
  width: 80%;
  padding: 10px 20px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  font-size: 18px;
  margin-top: -2px;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0;
}

.icons i{
  width: 30px;
  height: 30px;
  background-color: #facc01;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  font-size: 15px;
  color: #434343;
 margin: 0 5px;
 line-height: 30px;
    box-shadow: 0  0 10 rgba(0,0,0,0.3);
}

.icons i:hover{
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: translateY(-5px);
}

.tag{
  margin: 25px auto 0 auto;
  width: 150px;
}
.tag span{
font-size: 15px;
}
.tag a{
  color: #facc01;
  font-size: 15px;
  margin-left: 5px;
  text-decoration: none;
}









